# Copy this to .env and fill in your values after deploying the backend

# From AWS SAM deploy outputs:
EXPO_PUBLIC_API_URL=https://XXXXXXXXXX.execute-api.us-east-1.amazonaws.com/prod

# From AWS SAM deploy outputs (Cognito):
EXPO_PUBLIC_COGNITO_USER_POOL_ID=us-east-1_XXXXXXXXX
EXPO_PUBLIC_COGNITO_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXX
